<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Forgot Password</title>
    <link rel='stylesheet' href='static/forgot_password.css'>
</head>

<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="/forgot_password" method="post">
                    <h2>Forgot Password</h2>
                    <div class="inputbox"> 
                        <ion-icon name="mail-outline"></ion-icon> 
                        <input type="email" name="email" required>
                        <label>Email</label>
                    </div>
                    <div class="inputbox"> 
                        <ion-icon name="people-outline"></ion-icon> 
                        <label>Your secret key?</label>
                        <input type="text" name="SR_Quest" required> 
                    </div>
                    <div class="inputbox"> 
                        <ion-icon name="lock-closed-outline"></ion-icon> 
                        <input type="password" name="new_password" required> 
                        <label>Enter new password</label> 
                    </div>
                    <button type="submit">Reset Password</button>
                    <div class="register">
                        <p>Remember your account? <a href="/login">Log In</a></p>
                    </div>
                    <div class="is-updated">
                        <p style="color:green;"> {{ message_recover }} </p>
                    </div>
                </form>
            </div>
        </div>
    </section> 
</body>

</html>
