<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Sign Up</title>
    <link rel='stylesheet' href='static/sign_up.css'>
</head>

<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="/sign_up" method="post">
                    <h2>Sign Up</h2>
                    <div class="inputbox"> 
                        <ion-icon name="mail-outline"></ion-icon> 
                        <input type="email" name="username" required>
                        <label>Email</label>
                    </div>
                    <div class="inputbox"> 
                        <ion-icon name="lock-closed-outline"></ion-icon> 
                        <input type="password" name="password" required> 
                        <label>Password</label> 
                    </div>
                    <button type="submit">Sign Up</button>
                    <div class="register">
                        <p>Already have an account? <a href="login">Log In</a></p>
                    </div>
                    <div class="is-created">
                        <p style="color:red;"> {{ message_signup }} </p>
                    </div>
                </form>
            </div>
        </div>
    </section> 
</body>

</html>
